.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: rem-calc(100);
  margin-bottom: rem-calc(-50);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(-100);

  }

  @include breakpoint(xlarge) {
    // height: rem-calc(400);
  }
}
