.front-hero{
  background-image: url('../images/bg.jpg');
  max-width: rem-calc(1084);
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  @include breakpoint(medium){
    padding: 80px 285px 20px;
  }
  h1{
    text-align: center;
    color: $white;
    @include breakpoint(medium){
      margin-top: rem-calc(30);
      margin-bottom: rem-calc(20);
    }
  }
}

.page-template-front .main-content-full-width{
  padding: 20px;
}
