// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 700;
      font-size: rem-calc(15);
      font-family: $header-font-family;
    }
  }

  .menu .active > a { background-color: #ccc; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {
  a{
    font-weight: bold;
  }
  .menu .is-active > a {
    // background-color: lighten($dark-nav-color, 5%);
  }
}

// Tablet and desktop menu

.desktop-menu{
  padding-top: rem-calc(20);
  // padding-bottom: rem-calc(20);
  a{
    font-weight: 700;
    font-size: rem-calc(18);
    font-family: $header-font-family;
    text-transform: uppercase;
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.social-nav{
  a{
    font-size: rem-calc(24);
  }
}
